
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
target
test-output
*.log

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### gradle/gradlew ###
.gradle

### mac ###
.DS_Store

*.versionsBackup

### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
.settings/

### Maven ###
/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
.mvn/timing.properties
!.mvn/wrapper/maven-wrapper.jar

### Node Js ###
node_modules/*
.npm
.eslintcache
*.tgz

### Python ###
*.pyc
